body {
	background-color: rgb(224, 221, 226);
	padding: 0em 2em 0em 2em;
}

h1 {
	font-family: "Verdana";
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h2 {
	color: rgb(4, 27, 43);
	font-family: "Arial";
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin: 1.5em 0em 0em 0em;
}

h3 {
	color: rgb(4, 27, 43);
	font-family: "Arial";
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-color: rgb(19, 40, 70);
	border-style: solid;
	border-bottom: 0.01em;
	line-height: 0.01em;
	margin: 2.5em 0em 0em 0em;
}

h4 {
	font-family: "Arial";
	color: rgb(35, 135, 178);
	margin: 3em 0em 0em 0em;
	letter-spacing: 0.1em;
}

p {
	font-family: "Arial";
	letter-spacing: 0.01em;
}

ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

li {
	margin: 2em 0em 2em 0em;
}

.line {
	background-color: rgb(224, 221, 226);
	padding: 0em 1em 0em 1em;
}

.highlightblue {
	color: rgb(255, 255, 255);
	background-color: rgb(19, 40, 70);
	padding: 0.3em 0.3em 0.3em 0.3em;
	line-height: 3em;
}

.highlightwhite {
	color: rgb(19, 40, 70);
	background-color: rgb(255, 255, 255);
	padding: 0.3em 0.3em 0.3em 0.3em;
}