/*CSS DOCUMENT*/
@import url("https://use.typekit.net/gaq4pvj.css");

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

body {
    margin: 1em 0;
    background-color: rgb(245,230,219);
}

h1 {
    margin: 1.5em 0;
    text-align: center;
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.06em;
    color: white;
    background-color: rgb(131,30,18);
    padding: 0.5em;
}

h2, h3{
    margin: 1.5em 0 0 1em;
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.06em;
    color: rgb(131,30,18);
}

ul {
    margin: 1em;
    list-style-type: circle;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
}

ol {
    margin: 1em;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
}

li {
    margin: 1em;
}

figure, main {
    margin: 0 1em;
}

figcaption {
    margin: 0 0 3em 0;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5em;
}

img {
    margin: 1em 0;
    width: 100%; /*Please leave this line.*/
}


footer {
    text-align: center;
    color: white;
    background-color: rgb(131,30,18);
    font-family: baskerville-display-pt, serif;
    font-weight: 700;
    font-style: normal;
    padding: 1em 0;
}

.ingredients, .directions {
    background-color: rgb(237,215,193);
    padding: 0.2em 1em;
    margin: 2em 0;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
